@using tainicom.Aether.Physics2D.Dynamics
@using tainicom.Aether.Physics2D.Common



<div id="canvasContainer" @ref="container" >
    <Canvas @onmousemove="MouseMoveCanvas"
            @onmouseup="MouseUpCanvas" 
            @onmousedown="MouseDownCanvas"
            @onmouseout="MouseOutCanvas"
            
            @ontouchleave="TouchLeaveCanvas"
            @ontouchmove="TouchMoveCanvas"

            @ontouchend="TouchEndCanvas"
            
            @ref="_canvas" 
            Width="@TransientState.CanvasWidth"
            Height="@TransientState.CanvasHeight"  ></Canvas>
</div>

@foreach (var shape in GameState.RemainingShapes())
{
    
    <ShapeOptionComponent GameShape="shape.shape" Count="@shape.count" TransientState="TransientState"/>
}
@if (GameState.Message is not null)
{
    <br/>
    <label>@GameState.Message</label>
}

<br/>
<button @onclick="()=> GameState.Restart(TransientState)">Restart</button>
<br/>
<label>FPS: @TransientState.FramesPerSecond</label>
